<div class="container mx-auto mt-8 flex flex-col items-center">
  <h1 class="text-2xl font-bold mb-4">Welcome to Zapstack</h1>

  <div class="w-full max-w-sm">
    <form class="bg-white dark:bg-gray-800/25 p-4 shadow-md rounded-lg flex-grow">
      <h2 class="text-lg font-bold mb-4">Login</h2>
      <div class="mb-4">
        <input
          name="privkey"
          class="w-full p-2 border-[1px] border-slate-200 dark:border-slate-800 rounded mb-4 bg-white dark:bg-gray-800/25"
          type="text"
          id="privkey"
          placeholder="Private Key"
          [(ngModel)]="privkey"
          (keydown.enter)="login()"
        />
      </div>
      <div class="flex justify-between items-center">
        <button class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-400" (click)="login()">
          Login
        </button>
        <button class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-400" (click)="generateKey()">
          Generate Key
        </button>

      </div>
    </form>
  </div>
</div>
