<div class="container mx-auto" *ngIf="question?.title">
  <div class="flex items-center mb-4">
    <a [routerLink]="['/home']" class="flex items-center m-l-0 mr-4">
      <fa-icon [icon]="faChevronLeft" class="m-t-2"></fa-icon>
    </a>
    <h1 class="text-xl font-bold">{{ question.title }}</h1>
  </div>
  <div class="mb-6 prose dark:prose-invert prose-sm">
    <markdown ngPreserveWhitespaces [data]="question.message"></markdown>
  </div>
  <h2 class="text-lg font-bold mb-2">Answers</h2>
  <div class="mb-4" *ngFor="let answer of answers">
    <div class="mb-4 flex" *ngIf="answer.id && answer.pubkey">
      <div class="flex flex-col items-center mr-4 mt-4">
        <button class="text-blue-500" (click)="upvoteAnswer(answer, answer.pubkey)">
          <fa-icon [icon]="faChevronUp"></fa-icon>
        </button>
        <span class="font-bold">{{answer.vote}}</span>
        <button class="text-red-500" (click)="downvoteAnswer(answer, answer.pubkey)">
          <fa-icon [icon]="faChevronDown"></fa-icon>
        </button>
      </div>
      <div class="bg-white dark:bg-gray-800/25 p-4 shadow-md rounded-lg flex-grow">
        <div class="mb-4 prose dark:prose-invert prose-sm break-all">
          <markdown ngPreserveWhitespaces [data]="answer.message"></markdown>
        </div>
        <hr class="w-full border-gray-200 dark:border-gray-800 mb-2">
        <div class="flex items-center">
          <button class="flex items-center" (click)="toggleZapDialog(answer)" *ngIf="answer.profile?.lud16 || answer.profile?.lud06">
            <fa-icon [icon]="faBolt" class="text-yellow-500"></fa-icon>
            <span class="ml-2">{{ answer.zaps || 0 }}</span>
          </button>
          <a [routerLink]="['/profile', answer.profile?.id]" class="ml-auto">
            <div class="flex items-center">
              <img src="{{ answer.profile?.picture || '/assets/images/user-placeholder.png' }}" class="w-6 h-6 rounded-full mr-2" alt="profile picture">
              <span class="">{{ answer.profile?.name || 'Anonymous' }}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  
  <div class="bg-white dark:bg-gray-800/25 p-4 shadow-md rounded-lg md:ml-8 mb-6">
    <form (submit)="createAnswer()">
      <textarea 
        name="answer" 
        [(ngModel)]="answer" 
        class="w-full p-2 border-[1px] border-slate-200 dark:border-slate-800 rounded mb-4 bg-white dark:bg-gray-800/25" 
        placeholder="Add a answer...">
      </textarea>
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-400">Add Answer</button>
    </form>
  </div>
</div>

<div class="fixed inset-0 z-50 flex items-center justify-center w-full h-full" [class.hidden]="!zap.answer">
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 w-full md:w-1/2 lg:w-1/3 xl:w-1/4 m-6" *ngIf="zap.answer">
    <div class="font-medium text-lg mb-4">
      Zap Answer
    </div>
    <div class="text-sm mb-4">
      How much would you like to zap this answer?
    </div>
    <div class="flex items-center mb-4">
      <input
        [(ngModel)]="zap.amount"
        [disabled]="!!zap.invoiceCode"
        type="number"
        class="w-full dark:bg-gray-700 text-sm border-gray-300 rounded-md py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-200"
        placeholder="Enter amount"
        min="1"
        max="10000"/>
    </div>

    <div *ngIf="zap.invoiceCode" class="text-sm mb-4">
      Lightning Invoice:
    </div>
    <div *ngIf="zap.invoiceCode" class="flex items-center mb-4">
      <input
        [(ngModel)]="zap.invoiceCode"
        type="text"
        class="w-full dark:bg-gray-700 border-2 text-sm border-gray-300 dark:border-gray-700 rounded-l-md py-2 px-3 focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-200"
        placeholder="Invoice code"
        readonly
      />
      <button class="border-gray-300 dark:border-gray-700 border-2 border-l-0 rounded-r-md px-4 py-2 text-sm text-gray-400 hover:text-gray-500 focus:outline-none " (click)="copyToClipboard(zap.invoiceCode)">
        <fa-icon [icon]="faCopy"></fa-icon>
      </button>
    </div>
    <div [class.invisible]="!dialogMessage" class="text-sm text-gray-500 ml-2 h-4 mb-4 text-center">
      {{ dialogMessage }}
    </div>
    <div class="flex justify-end">
      <button *ngIf="!zap.invoiceCode"
        (click)="sendZap(zap.answer, zap.amount)"
        class="bg-yellow-500 hover:bg-yellow-600 text-white rounded-md px-4 py-2 mr-2 w-full flex-grow">
        Zap
      </button>
      <a #lightningLink href="#" style="visibility: hidden;"></a>
      <button
        (click)="toggleZapDialog(zap.answer)"
        class="text-yellow-500 hover:text-yellow-600 py-2 border-yellow-600 rounded-md border-2 w-full flex-grow">
        Cancel
      </button>
    </div>
  </div>
</div>


