<div class="container mx-auto lg:px-40">
  <div class="flex items-center mb-6">
    <img src="{{ userProfile.picture || '/assets/images/user-placeholder.png' }}" class="w-16 h-16 rounded-full mr-4" alt="Profile Picture">
    <div>
      <h1 class="text-xl font-semibold text-slate-900 dark:text-slate-200">{{ userProfile.name || 'Anonymous' }}</h1>
    </div>
  </div>

  <div class="flex flex-col items-start">
    <button class="focus:outline-none flex items-center mb-2" *ngIf="userProfile?.lud06 || userProfile?.lud16">
      <a [href]="getLightningLink(userProfile)" class="text-sm mr-2">
        <fa-icon class="mr-2" [icon]="faBolt"></fa-icon>
        <span class="text-sm">Tip User</span>
      </a>
    </button>
    <button class="focus:outline-none flex items-center mb-2">
      <fa-icon class="mr-2" [icon]="faUserPlus"></fa-icon>
      <span class="text-sm">Follow User</span>
    </button>
    <div class="flex items-center" *ngIf="userProfile?.nip05">
      <a href="lightning:{{ userProfile.nip05 }}" class="text-sm mr-2">{{ userProfile.nip05 }}</a>
      <fa-icon [icon]="faCheckCircle" class="text-green-500" *ngIf="userProfile?.nip05"></fa-icon>
    </div>
  </div>

  <div class="bg-white dark:bg-slate-800/25 p-4 shadow-md rounded-lg">
    <p class="text-gray-600 dark:text-gray-300">{{ userProfile.about || 'No bio provided' }}</p>
  </div>

  <div class="mt-8">
    <h2 class="text-xl font-semibold text-slate-900 dark:text-slate-200 mb-4">Latest Posts</h2>
    <div class="bg-white dark:bg-slate-800/25 p-4 shadow-md rounded-lg" *ngFor="let post of latestPosts">
      <!-- <h3 class="text-lg font-semibold mb-2">
        <a [routerLink]="['/post', post.id]" class="text-gray-800 dark:text-gray-100">{{ post. }}</a>
      </h3>
      <p class="text-gray-600 dark:text-gray-300">{{ post.message }}</p> -->
    </div>
  </div>

</div>
